<% include partials/header.ejs %>
<% include partials/header-participant.ejs %>

<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (conversation) { %>
        <form class="add-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">Participant Id</label>
                    <input type="text" class="form-control" name="participant_id" id="participant_id" value="<%= conversation.participant_id %>" disabled>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="created_at">Created At</label>
                    <input type="text" class="form-control" name="created_at" id="created_at" value="<%= new Date(String(conversation.created_at)).toJSON().slice(0, 19).replace("T","") %>" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="admin">Admin</label>
                    <% if (conversation.admin) { %>
                        <input type="checkbox" class="form-control" name="admin" id="admin" checked disabled>
                    <% } else { %>
                        <input type="checkbox" class="form-control" name="admin" id="admin" disabled>
                    <% } %> 
                </div>
                <div class="form-group col-md-4">
                    <label for="active">Active</label>
                    <% if (conversation.active) { %>
                        <input type="checkbox" class="form-control" name="active" id="active" checked disabled>
                    <% } else { %>
                        <input type="checkbox" class="form-control" name="active" id="active" disabled>
                    <% } %> 
                </div>
                <div class="form-group col-md-4">
                    <label for="last_modified_at">Last Modified At</label> 
                    <input type="text" class="form-control" name="last_modified_at" id="last_modified_at" value="<%= new Date(String(conversation.last_modified_at)).toJSON().slice(0, 19).replace("T","") %>" disabled/>
                </div>  
                
                <% if (conversation.last_question.length > 60 && conversation.last_question.search(".mp4") > -1) { %>
                    <div class="form-group col-md-8">  
                        <video id="videoMp4" controls>
                            <source src="/getvideo/<%= conversation.last_question %>" type="video/mp4"/>
                            HTML5 Video is required for this example. 
                        </video> 
                    </div> 

                    
                <% } else { %>   
                    <div class="form-group col-md-4">  
                        <label for="last_question">Last Question</label> 
                        <input type="text" class="form-control" name="last_question" id="last_question" value="<%= conversation.last_question %>" disabled>
                    </div> 
                <% } %>  
                
            </div>   

            <div class="form-row float-right">
                <a href="#" onclick="history.go(-1)" class="btn btn-primary">Back</a> 
            </div> 
        </form>
    <% } else { %>
        <p class="text-center">conversation Not Found. </p>
    <% } %>
</div>
<% include partials/footer.ejs %>