<% include partials/header.ejs %>
<% include partials/header-participant.ejs %> 
    <div class="table-wrapper">    
        <% if (typeof conversations !== "undefined" && conversations.length > 0) {%>
            <% if (pageCount > 1) { %>
                <ul class="pagination" style="font-size:140%;padding-left:10px">
                    <% if (currentPage > 1) { %>
                        <li style="padding-left:10px"><a href="/conversations?page=1">&laquo;</a></li>
                    <% } %>
                    <% var i = 1;
                    if (currentPage > 5) {
                        i = +currentPage - 4;
                    } %>
                    <% if (i !== 1) { %>
                        <li style="padding-left:10px" class="disabled"><a href="#">...</a></li>
                    <% } %>
                    <% for (i; i<=pageCount; i++) { %>
                        <% if (currentPage == i) { %>
                            <li style="padding-left:10px" class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
                        <% } else { %>
                            <li style="padding-left:10px"><a href="/conversations?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == (+currentPage + 4)) { %>
                            <li style="padding-left:10px" class="disabled"><a href="#">...</a></li>
                        <% break; } %>
                    <% } %>
                    <% if (currentPage != pageCount) { %>
                        <li style="padding-left:10px"><a href="/conversations?page=<%= pageCount %>">&raquo;</a></li>
                    <% } %>
                </ul>
            <% } %>


            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Participant ID</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Last Question</th>
                        <th scope="col">Last Modified At</th>  
                        <th scope="col">Active</th>
                        <th scope="col">Admin</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% conversations.forEach((conversation, index) => { %>
                        <tr>
                            <th scope="row"><%= conversation.id %></th> 
                            <td><%= conversation.participant_id %></td>
                            <td><%= new Date(String(conversation.created_at)).toJSON().slice(0, 19).replace("T"," ") %></td>
                            <td><%= conversation.last_question %></td> 
                            <td><%= new Date(String(conversation.last_modified_at)).toJSON().slice(0, 19).replace("T"," ") %></td> 
                            <td><%= conversation.active %></td>
                            <td><%= conversation.admin %></td>
                            <td>
                                <a href="/conversation_details/<%= conversation.id %>" class="btn btn-sm btn-primary">Show</a> 
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table> 
        <% } %>
    </div>
<% include partials/footer.ejs %>